body, html {
	width: 100%;
	height: 100%;
}

#header-container {
	background: currentColor;
}

#header-container a {
	color: powderblue;
}


#header-container li.active a {

}

#pallet-container {
	margin-top: 10%;
	padding-right: 10%;
	padding-left: 10%;
}

#pallet-container button {
	width: 75%;
}

.bitcoin-icon {
	margin-bottom: 10%;
}