html, body {
    width: 100%;
    height: 100;
    margin: 0;
}

.fa-2x.fa-bitcoin-symbol {
    font-size: 3em;
    color: red;
}

.canvas {
    background-color: cornflowerblue;
    width: 50%;
}
t
/* Aside from setting margin to 0 as part of the sticky footer, the styles below are for the sticky footer */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: black;
}